html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Encode Sans, sans-serif;
  margin: 0;
  background-color: #fff;
}

/* Header con un fondo fijo y una sombra */
header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  color: black;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.header-links {
  display: flex;
  align-items: center;
  margin-right: 40px; /* Espacio entre los enlaces y el formulario */
}

.header-link {
  margin-right: 30px; /* Más espacio entre los enlaces */
  font-size: 16px;
  color: #00aec3;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px; /* Añade espacio interno para facilitar el hover */
  border-radius: 5px; /* Bordes redondeados para el efecto de hover */
  height: 100%;
}

.header-link:hover {
  background-color: #bce8ed; /* Fondo azul al pasar el cursor */
}

.header-link:active {
  background-color: #bce8ed; /* Fondo más oscuro al hacer clic */
}

.logo img {
  height: 60px;
  margin-right: 30px;
}

/* Centrar todo el contenido del main */
main {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenedor principal */
  align-items: flex-start; /* Alinea los elementos desde arriba */
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  width: 100%;
  max-width: 800px; /* Limita el ancho máximo del contenedor */
  text-align: center;
}

/* Título */
.main-title {
  font-size: 2.5em;
  margin-bottom: 40px;
  font-weight: bold;
  color: #00aec3;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  color: #00aec3;
  text-align: center;
  margin-bottom: 20px;
}

/* Contenedor de botones */
.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Estilo de los botones */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #00aec3;
  border: 2px solid #00aec3;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  width: 250px;
  height: 50px;
  text-align: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Cambiar el color de fondo cuando el mouse pasa por encima */
.upload-btn:hover {
  background-color: #bce8ed;
}

/* Ocultar el campo de entrada file */
.upload-btn input[type="file"] {
  display: none;
}

/* Cambiar color y estilo cuando el botón está habilitado */
.transcribe-btn:enabled {
  background-color: #fff;
  color: #00aec3 !important;
  border-color: #00aec3 !important;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

/* Cambiar el color cuando el botón es hover */
.transcribe-btn:hover:enabled {
  background-color: #bce8ed;
}

/* Botón deshabilitado */
.transcribe-btn:disabled {
  background-color: #ccc;
  color: #fff;
  cursor: not-allowed;
  opacity: 0.5;
}

.file-name {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #000;
  white-space: nowrap;
}

.transcription {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
  text-align: left;
  border-top: 2px solid #ccc;
  padding-top: 10px;
  width: 100%;
  max-width: 800px;
}

.loading {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
  text-align: center;
  border-top: 2px solid #ccc;
  padding-top: 10px;
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.spinner {
  width: 30px;  /* Reducir el tamaño del spinner */
  height: 30px; /* Reducir el tamaño del spinner */
  border: 4px solid rgba(188, 232, 237, 0.3);  /* Corregir color */
  border-top-color: #00aec3;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-right: 10px;  /* Espacio entre el spinner y el texto */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Texto con animación de parpadeo */
.loading-text {
  font-size: 16px;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

/* Contenedor de los botones de descarga y reset */
#downloadButtonContainer,
#resetButtonContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Espaciado entre los botones */
  margin-top: 20px; /* Espaciado superior */
}

/* Estilo de los botones dentro de estos contenedores */
#downloadBtn,
#resetFormBtn {
  background-color: #fff;
  color: #00aec3;
  border: 2px solid #00aec3;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  width: 250px;
  height: 50px;
  text-align: center;
  transition: background-color 0.3s ease;
}

/* Cambiar el color cuando el botón es hover */
#downloadBtn:hover,
#resetFormBtn:hover {
  background-color: #bce8ed;
}

/* Estilo para cuando los botones están deshabilitados (si es necesario) */
#downloadBtn:disabled,
#resetFormBtn:disabled {
  background-color: #ccc;
  color: #fff;
  cursor: not-allowed;
  opacity: 0.5;
}

/* Estilo para el select de idioma */
.language-select {
  background-color: #fff;
  color: #00aec3;
  border: 2px solid #00aec3;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
  width: 200px;
  transition: background-color 0.3s ease;
  margin: 0 auto;
}

/* Cuando el mouse pasa por encima del select */
.language-select:hover {
  background-color: #bce8ed;
}

/* Cuando el select está enfocado (cuando se hace clic o se selecciona una opción) */
.language-select:focus {
  background-color: #fff;
  border-color: #00aec3;
  outline: none; /* Quita el contorno predeterminado del navegador */
}

/* Estilo para las opciones dentro del select */
.language-select option:hover {
  background-color: #bce8ed; /* Fondo azul claro cuando pasa el mouse por encima de una opción */
}

/* Estilo para la opción seleccionada, fondo blanco después de la selección */
.language-select option:checked {
  background-color: #fff; /* Fondo blanco cuando la opción está seleccionada */
  color: #00aec3; /* Mantener el color del texto */
}

.resultContainer {
  display: none;
  margin-bottom: 40px;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  width: 100%;
  max-width: 800px; /* Limita el ancho máximo del contenedor */
  text-align: center;
}

.hidden-title {
  display: none;
}

#transcriptionContainer {
  display: none;
  border: 2px solid #00aec3; /* Borde de 2px de color azul */
  padding: 10px; /* Espacio interno */
  margin: 10px; /* Espacio externo */
  text-align: left;
}

#wordCloudContainer {
  display: none;
  border: 2px solid #00aec3; /* Borde de 2px de color azul */
}

#wordCloudContainer img {
  width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
  max-width: 1200px; /* Limita el ancho máximo de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
}

#whiteSpaces {
  margin-bottom: 10px;
  display: none;
}

footer {
  background-color: #fff;
  text-align: center;
  margin-top: auto; /* Esto mueve el footer hacia el fondo de la pantalla */
  border-top: 1px solid #ccc;
}

/* Contenedor de las imágenes */
.footer-images {
  display: flex;
  justify-content: center;
  gap: 100px;
}

/* Estilos para cada imagen */
.footer-image-1 {
  width: 230px;
  height: 135px;
}
.footer-image-2 {
  width: 125px;
  height: 135px;
}
.footer-image-3 {
  width: 170px;
  height: 135px;
}
.footer-image-4 {
  width: 220px;
  height: 135px;
}

/* ======== RESPONSIVE DESIGN PARA CELULAR ======== */
@media (max-width: 1024px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .logo img {
    height: 50px;
    margin-bottom: 10px;
  }

  .header-links {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
    width: 100%;
  }

  .header-link {
    margin: 5px 0;
    width: 100%;
    padding: 10px;
  }

  main {
    padding: 10px;
  }

  .main-container {
    padding: 0 10px;
    width: 100%;
    max-width: none;
  }

  .main-title,
  h2 {
    font-size: 1.8em;
    text-align: center;
  }

  .buttons-container {
    width: 100%;
  }

  .btn {
    width: 100%;
    font-size: 18px;
  }

  form {
    width: 100%;
  }

  .file-name {
    font-size: 14px;
    text-align: center;
    flex-wrap: wrap;
    word-break: break-word;
  }

  .transcription,
  .loading,
  #transcriptionContainer,
  .resultContainer {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }

  #downloadBtn,
  #resetFormBtn,
  .language-select {
    width: 100%;
    font-size: 16px;
  }

  #wordCloudContainer img {
    max-width: 100%;
  }

  .footer-images {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer-image-1,
  .footer-image-2,
  .footer-image-3,
  .footer-image-4 {
    width: 80%;
    height: auto;
  }
}
